<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->

  <li>
    <a href="https://twitter.com/1taldealex" itemprop="sameAs" rel="nofollow noopener noreferrer" target="_blank">
      <i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter
    </a>
  </li>

  <li>
    <a href="https://www.goodreads.com/1taldealex" itemprop="sameAs" rel="nofollow noopener noreferrer" target="_blank">
      <i class="fab fa-fw fa-goodreads" aria-hidden="true"></i> Goodreads
    </a>
  </li>

  <li>
    <a href="https://letterboxd.com/1taldealex/" itemprop="sameAs" rel="nofollow noopener noreferrer" target="_blank">
      <i class="fas fa-fw fa-circle" aria-hidden="true"></i> Letterboxd
    </a>
  </li>

 <li>
    <a href="https://github.com/alexbarlim" itemprop="sameAs" rel="nofollow noopener noreferrer" target="_blank">
      <i class="fab fa-github-square" aria-hidden="true"></i> GitHub
    </a>
  </li>

 <li>
    <a href="https://acnh.alexbarlim.com" itemprop="sameAs" rel="nofollow noopener noreferrer" target="_blank">
      <i class="fas fa-fw fa-link" aria-hidden="true"></i> ACNH
    </a>
  </li>
